.TodoSearch {
    width: calc(100% - 50px);
    
    margin: var(--my) 0;
    padding: var(--py) 0;
    
    background-color: var(--white);
    border: var(--border) solid var(--primary);
    border-radius: var(--border-radius);
    
    text-align: center;
    color: var(--black);
    font-family: var(--font-family);
    font-size: var(--font-s-md);
    font-weight: var(--font-medium);

    opacity: 0.9;
    transition: 0.3s;
}

.TodoSearch:hover {
    opacity: 1;
}

.TodoSearch:focus {
    outline: none;
    box-shadow: var(--shadow-b-primary);
}

.TodoSearch::placeholder {
    color: var(--gray);
    font-family: var(--font-family);
    font-weight: var(--font-light);
}